@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@100&display=swap');

/*----------------------------------------------------general layout*/
* {
    margin: 0;
    padding: 0;
    border: none;
}


/*----------------------------------------------------header*/
.logo {
    padding-top: 30px;
    text-align: center;
    text-transform: uppercase;
    color:#ffcb05;
    text-shadow:
    -1px -1px 0 #2a75bb,  
     1px -1px 0 #2a75bb,
     -1px 1px 0 #2a75bb,
      1px 1px 0 #2a75bb;
    text-decoration: none;
    font-size: 400%;
}

/*---------------------------------------------------- body*/

body {
    font-family: 'Bangers', cursive;
}

a {
    text-decoration: none;
}

.background {
    background-image: url("../images/pokemon.background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

/*---------------------------------------------------- game-section*/

.game-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 30px;
}

.game-container {
    background: #2a75bb;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000;
}

.menu {
    text-align: center;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    color: white;
    padding: 20px;
}


.menu-controls {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
}

.menu-controls button {
    color: black;
    font-size: 20px;
    font-weight:900
    font-family: 'Lato', sans-serif;
    background-color: #ffcb05;
    border-radius: 10px;
    width: 200px;
    height: 65px
}




/*---------------------------------------------------- media queries*/
@media (max-width: 480px) {
    .menu-controls button {
        width: 150px;
    }
}

@media (max-width: 330px) {
    .menu-controls button {
        width: 100px;
        font-size: 15px;
    }
    .logo {
        font-size: 300%;
    }
}





